[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
black = "*"
python-dotenv = "*"
langchainhub = "*"
faiss-cpu = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
